<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
  <div class="container mt-5">
    <form action="" method="post">

      {%csrf_token%}

        <select name="brand" id="brand">

        {%for b in brand%}
    
          <option value="{{b.name}}" id="brand">{{b.name}}</option>
    
        {%endfor%}

      </select>

        

        <button type="submit">search</button>
    

    </form>


  </div>

   <div class="container">
    <div class="mx-auto grid w-full max-w-7xl items-center space-y-4 px-2 py-10 md:grid-cols-2 md:gap-6 md:space-y-0 lg:grid-cols-4">
        {%for car in data%}

        <div class="relative aspect-[16/9]  w-auto rounded-md md:aspect-auto md:h-[400px]">
            <img
              src="{{car.image.url}}"
              alt="AirMax Pro"
              class="z-0 h-full w-full rounded-md object-cover"
            />
            <div class="absolute inset-0 rounded-md bg-gradient-to-t from-gray-900 to-transparent"></div>
            <div class="absolute bottom-4 left-4 text-left">
              <h1 class="text-lg font-semibold text-white">{{car.name}}</h1>
              <p class="mt-2 text-sm text-gray-300">
                {{car.brand_object}}
              </p>
              <a class="mt-2 inline-flex cursor-pointer items-center text-sm font-semibold text-white" href="{%url 'detail' car.id%}">
                detail →
              </a>
            </div>
          </div>

        {%endfor%}

      </div>
      
   </div>
</body>
</html>